.drop-container {
    padding: 30px;
    border: 1px solid #345678;
    display: flex;
    margin: 10px auto;
    border-radius: 5px;
    max-width: 1140px;
    flex-wrap: wrap;
    min-height: 100px;
    text-align: center;
    justify-content: center;
}
